
.vscode/arduino.json
.vscode/c_cpp_properties.json
build/build.options.json
build/core/abi.cpp.d
build/core/abi.cpp.o
build/core/api/Common.cpp.d
build/core/api/Common.cpp.o
build/core/api/IPAddress.cpp.d
build/core/api/IPAddress.cpp.o
build/core/api/PluggableUSB.cpp.d
build/core/api/PluggableUSB.cpp.o
build/core/api/Print.cpp.d
build/core/api/Print.cpp.o
build/core/api/Stream.cpp.d
build/core/api/Stream.cpp.o
build/core/api/String.cpp.d
build/core/api/String.cpp.o
build/core/core.a
build/core/Interrupts.cpp.d
build/core/Interrupts.cpp.o
build/core/itoa.c.d
build/core/itoa.c.o
build/core/main.cpp.d
build/core/main.cpp.o
build/core/mbed/platform/cxxsupport/mstd_mutex.cpp.d
build/core/mbed/platform/cxxsupport/mstd_mutex.cpp.o
build/core/pinToIndex.cpp.d
build/core/pinToIndex.cpp.o
build/core/Serial.cpp.d
build/core/Serial.cpp.o
build/core/Tone.cpp.d
build/core/Tone.cpp.o
build/core/USB/PluggableUSBDevice.cpp.d
build/core/USB/PluggableUSBDevice.cpp.o
build/core/USB/USBCDC.cpp.d
build/core/USB/USBCDC.cpp.o
build/core/USB/USBSerial.cpp.d
build/core/USB/USBSerial.cpp.o
build/core/variant.cpp.d
build/core/variant.cpp.o
build/core/wiring.cpp.d
build/core/wiring.cpp.o
build/core/wiring_analog.cpp.d
build/core/wiring_analog.cpp.o
build/core/wiring_digital.cpp.d
build/core/wiring_digital.cpp.o
build/core/wiring_pulse.cpp.d
build/core/wiring_pulse.cpp.o
build/core/wiring_shift.cpp.d
build/core/wiring_shift.cpp.o
build/core/WMath.cpp.d
build/core/WMath.cpp.o
build/IMU_gialibrarynano33.ino.bin
build/IMU_gialibrarynano33.ino.elf
build/IMU_gialibrarynano33.ino.hex
build/IMU_gialibrarynano33.ino.map
build/includes.cache
build/libraries/Arduino_APDS9960/Arduino_APDS9960.cpp.d
build/libraries/Arduino_APDS9960/Arduino_APDS9960.cpp.o
build/libraries/Arduino_HTS221/HTS.cpp.d
build/libraries/Arduino_HTS221/HTS.cpp.o
build/libraries/Arduino_LPS22HB/BARO.cpp.d
build/libraries/Arduino_LPS22HB/BARO.cpp.o
build/libraries/Arduino_LSM9DS1/LSM9DS1.cpp.d
build/libraries/Arduino_LSM9DS1/LSM9DS1.cpp.o
build/libraries/Nano33BLESensor/Nano33BLEAccelerometer.cpp.d
build/libraries/Nano33BLESensor/Nano33BLEAccelerometer.cpp.o
build/libraries/Nano33BLESensor/Nano33BLEColour.cpp.d
build/libraries/Nano33BLESensor/Nano33BLEColour.cpp.o
build/libraries/Nano33BLESensor/Nano33BLEGesture.cpp.d
build/libraries/Nano33BLESensor/Nano33BLEGesture.cpp.o
build/libraries/Nano33BLESensor/Nano33BLEGyroscope.cpp.d
build/libraries/Nano33BLESensor/Nano33BLEGyroscope.cpp.o
build/libraries/Nano33BLESensor/Nano33BLEMagnetic.cpp.d
build/libraries/Nano33BLESensor/Nano33BLEMagnetic.cpp.o
build/libraries/Nano33BLESensor/Nano33BLEMicrophoneRMS.cpp.d
build/libraries/Nano33BLESensor/Nano33BLEMicrophoneRMS.cpp.o
build/libraries/Nano33BLESensor/Nano33BLEPressure.cpp.d
build/libraries/Nano33BLESensor/Nano33BLEPressure.cpp.o
build/libraries/Nano33BLESensor/Nano33BLEProximity.cpp.d
build/libraries/Nano33BLESensor/Nano33BLEProximity.cpp.o
build/libraries/Nano33BLESensor/Nano33BLETempterature.cpp.d
build/libraries/Nano33BLESensor/Nano33BLETempterature.cpp.o
build/libraries/PDM/nrf52/PDM.cpp.d
build/libraries/PDM/nrf52/PDM.cpp.o
build/libraries/PDM/stm32/audio.c.d
build/libraries/PDM/stm32/audio.c.o
build/libraries/PDM/stm32/irq.c.d
build/libraries/PDM/stm32/irq.c.o
build/libraries/PDM/stm32/PDM.cpp.d
build/libraries/PDM/stm32/PDM.cpp.o
build/libraries/PDM/stm32/wm8994.c.d
build/libraries/PDM/stm32/wm8994.c.o
build/libraries/PDM/utility/PDMDoubleBuffer.cpp.d
build/libraries/PDM/utility/PDMDoubleBuffer.cpp.o
build/libraries/Wire/Wire.cpp.d
build/libraries/Wire/Wire.cpp.o
build/preproc/ctags_target_for_gcc_minus_e.cpp
build/sketch/IMU_gialibrarynano33.ino.cpp
build/sketch/IMU_gialibrarynano33.ino.cpp.d
build/sketch/IMU_gialibrarynano33.ino.cpp.o
